@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.fruit {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.fruit img {
    pointer-events: none;
}

.basket .fruit {
    width: 100px !important;
    height: 100px !important;
}

.swal-title {
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.swal-text {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}